USE [master]
GO
/****** Object:  Database [assignment]    Script Date: 12/17/2017 22:34:38 ******/
CREATE DATABASE [assignment] ON  PRIMARY 
( NAME = N'assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\assignment.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\assignment_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [assignment]
GO
/****** Object:  Table [dbo].[area]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[area](
	[Ano] [int] NOT NULL,
	[Aname] [char](20) NOT NULL,
 CONSTRAINT [PK__area__30B36747267ABA7A] PRIMARY KEY CLUSTERED 
(
	[Ano] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[police]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[police](
	[Pno] [int] NOT NULL,
	[Pname] [char](20) NULL,
	[Psex] [char](4) NULL,
	[Page] [int] NULL,
	[Paddress] [char](100) NULL,
	[PSno] [int] NULL,
	[Dno] [int] NULL,
	[PPno] [int] NULL,
	[PTime] [char](4) NULL,
	[Tel] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[job]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[job](
	[PPno] [int] NULL,
	[PPname] [char](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[department]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[department](
	[Dno] [int] NULL,
	[Dname] [char](20) NULL,
	[PPname] [char](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[criminal]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[criminal](
	[CRno] [int] NOT NULL,
	[CRname] [char](20) NULL,
	[Crank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CRno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[civil]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[civil](
	[CIno] [int] NOT NULL,
	[CIname] [char](20) NULL,
	[Crank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CIno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[treatCase]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatCase](
	[Crank] [int] NOT NULL,
	[Cnumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Crank] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[station]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[station](
	[PSno] [int] NOT NULL,
	[PSname] [char](20) NOT NULL,
	[PSdirector] [char](20) NULL,
 CONSTRAINT [PK__police__AEC8842522AA2996] PRIMARY KEY CLUSTERED 
(
	[PSno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[signUp]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[signUp](
	[no] [int] NOT NULL,
	[pasw] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[scope]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[scope](
	[Ano] [int] NOT NULL,
	[Sno] [int] NOT NULL,
	[Sname] [char](20) NULL,
	[PSno] [int] NULL,
 CONSTRAINT [PK__scope__9FBACB4E2B3F6F97] PRIMARY KEY CLUSTERED 
(
	[Ano] ASC,
	[Sno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[caseIn]    Script Date: 12/17/2017 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caseIn](
	[Cno] [int] IDENTITY(1,1) NOT NULL,
	[Ctype] [int] NULL,
	[Cclass] [int] NULL,
	[Crank] [int] NULL,
	[Ano] [int] NULL,
	[Sno] [int] NULL,
 CONSTRAINT [PK__caseIn__C1FE63734316F928] PRIMARY KEY CLUSTERED 
(
	[Cno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK__scope__区号__2D27B809]    Script Date: 12/17/2017 22:34:38 ******/
ALTER TABLE [dbo].[scope]  WITH CHECK ADD  CONSTRAINT [FK__scope__区号__2D27B809] FOREIGN KEY([Ano])
REFERENCES [dbo].[area] ([Ano])
GO
ALTER TABLE [dbo].[scope] CHECK CONSTRAINT [FK__scope__区号__2D27B809]
GO
/****** Object:  ForeignKey [FK_scope_police]    Script Date: 12/17/2017 22:34:38 ******/
ALTER TABLE [dbo].[scope]  WITH CHECK ADD  CONSTRAINT [FK_scope_police] FOREIGN KEY([PSno])
REFERENCES [dbo].[station] ([PSno])
GO
ALTER TABLE [dbo].[scope] CHECK CONSTRAINT [FK_scope_police]
GO
/****** Object:  ForeignKey [FK__caseIn__44FF419A]    Script Date: 12/17/2017 22:34:38 ******/
ALTER TABLE [dbo].[caseIn]  WITH CHECK ADD  CONSTRAINT [FK__caseIn__44FF419A] FOREIGN KEY([Ano], [Sno])
REFERENCES [dbo].[scope] ([Ano], [Sno])
GO
ALTER TABLE [dbo].[caseIn] CHECK CONSTRAINT [FK__caseIn__44FF419A]
GO
